.hidden-form {
    display: none;
}

.warning {

    border: 1px solid red;
    border-radius: 4px;
    visibility: hidden;
    text-align: center;
    background-color: #ff0000;
    color:crimson;
}

.hidden-submit-button {
    visibility: hidden;
}

.hidden-verify-button {
    visibility: visible;
}

.hiddenCol {
    display: none;
}

.btn-space {
    margin-right: 10px;
}

.div-padding {
    padding-top: 100px;
}

.btn {
    white-space:normal;
    word-wrap:break-word;
}

.img-style {
    width:4%;
}