ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333333;
    text-decoration: none;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 5px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111111;
        }

.main {
    width: 100%;
    margin-bottom: 35px;
    display: inline-block;
}

.nav {
    margin-bottom: 0%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.page {
    height: auto;
    margin-top: 2px;
}

.page-info {
    height: auto;
    width: 100%;
    margin-top: 2px;
}

.image-responsive {
    display: flex;
    justify-content: center;
}

.bg-div {
    background-image: url("images/background-image.png");
    width: 100%;
    height: 1000px
}

.center {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0%;
    color: white;
    font-size: 36pt;
}

.right {
    float: left;
    margin: auto;
    vertical-align: top;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

div.gallery {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: 20%;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 31%;
    border: 2px solid black;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 100%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.col-25 {
    background-color: #f2f2f2;
    float: left;
    width: 20%;
    margin-top: 10px;
}

.col-25-alternate {
    border-style: solid;
    border-width: 2px;
    background-color: lightgreen;
    float: left;
    width: 20%;
    margin-top: 10px;
}

.col-25-alternate-wrong {
    border-style: solid;
    border-width: 2px;
    background-color: crimson;
    float: left;
    width: 20%;
    margin-top: 10px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.col-75-alternate {
    float:left;
    width:75%;
    margin-top: 10px;
    margin-left:20px;
    border-style: solid;
    border-width:2px;
    background-color: lightgreen;
}

.col-75-alternate-wrong {
    float: left;
    width: 75%;
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid;
    background-color: crimson;
}

input[type=text], select, textarea {
    width: 100%;
}

input[type=submit] {
    float: right;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container-border {
    background-color: #f2f2f2;
    padding: 20px;
}

.image {
    width:5%;
    display: inline-block;
}

.image img {
    vertical-align: bottom;
}

.label-col {
    width:90%;
    display: inline-block;
    text-align:center;
}

.information {

}

.user-info {

}

